.container
  .row
    .tmpst-header-primary
        a.internal-home.tmpst-logo= _t['Logo']
    .tmpst-header-secondary
      a.tmpst-header-link.internal-home(href="/dashboard")= _t['Dashboard']
      a.tmpst-header-link.internal-home(href="/vms")= _t['VMS']
      a.tmpst-header-link.internal-home(href="/services/create")= _t['Create DB']
      a.tmpst-header-link.internal-home(href="/services/list")= _t['DATABASES']

      a.tmpst-header-link(tabindex="0", role="button", aria-haspopup="true", aria-expanded="false", aria-owns="tmpst-header-about-popup", data-popup="#tmpst-header-about-popup", data-popup-bind-open="mouseenter", data-popup-item="a", data-popup-direction="se")= _t['About']
        span &nbsp;▾

      span(style="margin:0px -2px 0px 2px;color:#717171;") |
      a.tmpst-header-link.tmpst-header-account(tabindex="0", role="button", aria-haspopup="true", aria-expanded="false", aria-owns="tmpst-header-account-popup", data-popup="#tmpst-header-account-popup", data-popup-bind-open="mouseenter", data-popup-item="a", data-popup-direction="se", class="tmpst-header-link, tmpst-header-account")
        span(class="tmpst-header-account-name")= user.name
        span &nbsp;▾

#tmpst-header-about-popup.hide.tmpst-header-popup
    a(data-popup-close="data-popup-close", href="/", class="internal-home")= _t['Home']
    a(data-popup-close="data-popup-close", href="/dashboard", class="internal-home")= _t['Dashboard']
    a(data-popup-close="data-popup-close", href="/about/", class="internal-about")= _t['About']

#tmpst-header-account-popup.hide.tmpst-header-popup
    a(data-popup-close="data-popup-close", href="/", class="internal-home")= _t['Home']
    a(data-popup-close="data-popup-close", href="/dashboard", class="internal-home")= _t['Dashboard']
    a(data-popup-close="data-popup-close", href="/about", class="internal-home")= _t['About']
    a(data-popup-close="data-popup-close", href="/account/logout", class="internal-home")= _t['Logout']
