<!-- build:js #{config.url.app_assets}js/components.js -->
<script src='#{config.url.app_assets}js/core/require.js'></script>
<!-- endbuild -->

script(
  type='text/javascript',
  data-baseurl=config.url.app_assets,
  data-version=config.version,
  data-timestamp=(new Date()).getTime(),
  data-debug=config.debug ? 1 : 0,
  data-locale=config.locale,
  id='_require').

      (function (el) {
        var locale = (window.localStorage ? localStorage.getItem('locale') : '') || el.getAttribute('data-locale');
        var debug = el.getAttribute('data-debug') == '1';

        if(document.getElementById('tmpst-loading-js').style.display == 'block') 
          if (!debug) {
            //prevent throw errors
            require.onError = function(err) { 
                window._204 = window._204 || []; 
                window._204.push({key: 'requireErr', value: err});
            };
          }
          require.config({
            enforceDefine: true,
            waitSeconds: 75,
            baseUrl: el.getAttribute('data-baseurl'),
            urlArgs: debug ? 'v=' + el.getAttribute('data-timestamp') : '',
            shim: {
              'underscore': {
                exports: '_'
              },
              'backbone': {
                deps: ['underscore', 'jquery'],
                exports: 'Backbone',
                init: function (_, $) {
                    _.noConflict();
                    $.noConflict();
                    return Backbone.noConflict();
                }
              }
            },
            paths: {
              'jquery': 'js/core/jquery',
              'underscore': 'js/core/underscore',
              'backbone': 'js/core/backbone',
              'jquery.bbq': 'js/lib/jquery.bbq',
              'jquery.migrate': 'js/lib/jquery.migrate',
              'js/models/user.json': 'empty:'
            },
            callback: function () {
              require(['pages/home/routes']); // bootup
            },
            config: {
              i18n: {
               locale: locale
              }
            }
          });
      })(document.getElementById('_require'));
script(
  type='text/javascript').

    define('js/models/user.json', [], function () {
      var user = '{"name":"zx"}';
      return user && user !== 'undefined' ? JSON.parse(user) : null;
    });
